
*{
    margin: 0;
    padding: 0;
}


.primary-color{
    color: rgba(233, 90, 8, 1);
}
.secondary-color{
    color: rgba(0, 0, 0, 0.5);
}

/* Header */
header{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.main-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li{
    margin-right: 50px;
    list-style: none;
}
.menu li a{
    text-decoration: none;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
}
#homebold{
    font-weight: bold;
    color: black;
}
.cart i{
    font-size: 1.5rem;
    margin-right: 10px;
    margin-left: 20px;
}
/* Header Done */

/* Banner */
.banner{
    max-width: 1140px;
    height: 461px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: self-end;
}
.banner-title{
    max-width: 470px;
}
.banner-title h1{
    font-size: 3.5rem;
    font-weight: bold;
}
.banner-title P{
    font-size: 1.2rem;
}
#banneralways{
    color: black;
}
.banner-img img{
    width: 100%;
}
/* Banner Done */























/* Mobile Responsive */

@media (max-width: 393px){
    /* Header */
    header{
    max-width: 361px;
    }
    header img{
        width: 63px;
        height: 38px;
    }
    .menu{
        display: none;
    }
    /* Header Done */

    /* Banner */
    .banner{
    display: grid;
    }
    .banner-title h1{
        font-size: 2rem;
    }
    .banner-title p{
        font-size: 1rem;
    }
    .banner-img{
        order: 1;
        width: 393px;
        margin: 0 auto;
    }
    .banner-title{
        order: 2;
        width: 361px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    /* Banner Done */
}