
*{
    margin: 0;
    padding: 0;
}


.primary-color{
    color: #e95a08;
}
.secondary-color{
    color: #00000080;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}

/* Header */
header{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.main-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li{
    margin-right: 50px;
    list-style: none;
}
.menu li a{
    text-decoration: none;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
}
#homebold{
    font-weight: bold;
    color: black;
}
.cart i{
    font-size: 1.5rem;
    margin-right: 10px;
    margin-left: 20px;
}
/* Header Done */

/* Banner */
.banner{
    height: 461px;
    display: flex;
    justify-content: space-between;
    align-items: self-end;
    margin-bottom: 70px;
}
.banner-title{
    max-width: 470px;
}
.banner-title h1{
    font-size: 3.5rem;
    font-weight: bold;
}
.banner-title P{
    font-size: 1.2rem;
}
#banneralways{
    color: black;
}
.banner-img img{
    width: 100%;
}
/* Banner Done */

/* Plant  */
.plant-section{
    margin-bottom: 60px;
}
.plant-title{
    text-align: center;
}
.plant-title h1{
    font-size: 2.8rem;
    margin-bottom: 15px;
}
.plant-title p{
    font-size: 1.2rem;
    max-width: 680px;
    margin: 0 auto;
    margin-bottom: 30px;
}
#plantid{
    color: black;
}
.plant-box{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}
.plant-box-all{
    text-align: center;
}
.plant-box-all img{
    width: 100%;
}
.plant-box-all h1{
    font-size: 1.4rem;
    margin: 15px 0;
    font-weight: 600;
}
.plant-box-all h2{
    font-size: 1.5rem;
    margin-bottom: 30px;
    font-weight: 900;
}
.plant-box-all button{
    width: 100%;
    padding: 15px 0;
    background-color: #e95a08;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 10px;
}
/* Plant Done */

/* Plants Lover Section */

.plants-lover-section{
    margin-top: 200px;
    margin-bottom: 130px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;

    position: relative;
}
.pls-img img{
    width: 100%;
    height: 597px;
}
.pls-title{
    height: 597px;
    display: flex;
    align-items: center;
    justify-content: right;
}
.pls-title-box{
    max-width: 500px;
}
.pls-title-box h1{
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
    max-width: 400px;
}
.pls-title-box ul li{
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    margin-left: 20px;
}
.trusted-seller img{
    width: 286px;
    height: 286px;
    filter: drop-shadow(5px 9px 2px rgba(0, 0, 0, 0.5));
}
.trusted-seller{
    position: absolute;
    left: 370px;
    top: -130px;
}
/* PLS Done */

/* Latest Deals */
.latest-deals{
    margin: 70px auto;
}
.latest-deals-title{
    text-align: center;
    margin-bottom: 70px;
}
#latestc{
    color: #e95a08;
}
.latest-deals-title h1{
    font-size: 2.8rem;
    margin-bottom: 1rem;
}
.latest-deals-title p{
    max-width: 700px;
    font-size: 1.2rem;
    margin: 0 auto;
}

.latest-deals-img{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}
.small-img-1{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(./assets/deal-bloom.png);
    width: 100%;
    height: 205px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;

    display: grid;
    justify-items: center;
    align-items: center;
}
.small-img-1 h1{
    color: white;
    font-size: 1.5rem;
    margin-top: 40px;
    font-weight: bold;
}
.small-img-1 a{
    color: white;
    margin-top: -80px;
    font-size: 1.3rem;
    font-weight: bold;
}
.small-img-2{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(./assets/deal-ana.png);
    width: 100%;
    height: 205px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -225px;
    border-radius: 15px;

    display: grid;
    justify-items: center;
    align-items: center;
}
.small-img-2 h1{
    color: white;
    font-size: 1.5rem;
    margin-top: 40px;
    font-weight: bold;
}
.small-img-2 a{
    color: white;
    margin-top: -80px;
    font-size: 1.3rem;
    font-weight: bold;
}
.big-img{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(./assets/deal-zabo.png);
    width: 100%;
    min-height: 430px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;
    justify-items: center;
    align-items: center;
}
.big-img h1{
    color: white;
    font-size: 2rem;
    margin-top: 80px;
    font-weight: bold;
}
.big-img a{
    color: white;
    margin-top: -250px;
    font-size: 1.6rem;
    font-weight: bold;
}

/* Latest Deals Done */

/* Join Section */
.join{
    background-image: url(./assets/news-letter-bg.png);
    height: 540px;
    background-size: cover;
    margin-bottom: 80px;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
.join-info h1{
    color: white;
    font-size: 3rem;
    margin-bottom: 20px;
}
.inputbox input{
    width: 450px;
    padding: 15px 20px;
    border: none;
    margin-right: -5px;
    color: #00000080;
    font-size: 1.2rem;
}
.inputbox button{
    width: 190px;
    padding: 15px 20px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: #e95a08;
    font-size: 1.2rem;
}
/* Join Done */

/* Footer */
footer{
    max-width: 1120px;
    margin: 0 auto;
    margin-bottom: 60px;

    display: flex;
    justify-content: space-between;
}
.footer-logo p{
    font-size: 1.2rem;
    max-width: 250px;
}
.footer-menu{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 30px;
}
.footer-menu li{
    list-style: none;
}
.footer-menu li a{
    color: #00000080;
    text-decoration: none;
}
.footer-social2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;

    align-items: center;
    justify-items: center;
}
.footer-social li{
    list-style: none;
}
/* Footer Done */



/* Mobile Responsive */

@media (max-width: 576px){
    /* Header */
    header{
    max-width: 576px;
    }
    header img{
        width: 63px;
        height: 38px;
    }
    .menu{
        display: none;
    }
    /* Header Done */

    /* Banner */
    .banner{
    display: grid;
    }
    .banner-title h1{
        font-size: 2rem;
    }
    .banner-title p{
        font-size: .9rem;
    }
    .banner-img{
        order: 1;
        width: 100%;
        margin: 0 auto;
    }
    .banner-title{
        order: 2;
        width: 570px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    /* Banner Done */

    /* Plant Section */
    .plant-section{
    max-width: 576px;
    margin: 0 auto;
    padding-top: 20px;
    }
    .plant-title h1{
        font-size: 1.5rem;
    }
    .plant-title p{
        font-size: .9rem;
    }
    .plant-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    }
    .plant-box-all h1{
    font-size: 1.2rem;
    }
    .plant-box-all h2{
    font-size: 1.2rem;
    }
    .plant-box-all button{
    font-size: .9rem;
    }
    #forhide{
        display: none;
    }
    /* Plant Done */

    /* PLS Section */

    .plants-lover-section{
    max-width: 576px;
    margin: 0 auto;
    margin-top: 80px;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: none;
    }
    .pls-title{
    height: 240px;
    align-items: baseline;
    justify-content: left;
    }
    .pls-title-box h1{
        font-size: 1.5rem;
        margin-bottom: 1.3rem;
    }
    .pls-title-box ul li{
        font-size: .9rem;
        margin-bottom: 1.3rem;
        margin-left: 30px;
    }
    .trusted-seller{
        display: none;
    }
    /* PLS Done */

    /* Latest Deals */
    .latest-deals-title h1{
        font-size: 1.8rem;
    }
    .latest-deals-title p{
        max-width: 480px;
        font-size: .9rem;
    }
    .latest-deals-img{
        grid-template-columns: 1fr;
    }
    .small-img-1{
        order: -2;
    }
    .small-img-2{
        margin-top: 0px;
        order: -1;
    }
    .big-img{
        min-height: 205px;
    }
    .big-img h1{
        font-size: 1.5rem;
        margin-top: 40px;
    }
    .big-img a{
        margin-top: -80px;
        font-size: 1.3rem;
    }
    /* Latest Deals Done */

    /* Join */
    .join{
    height: 270px;
    margin-top: 60px;
    margin-bottom: 60px;
    }
    .join-info{
        max-width: 520px;
    }
    .join-info h1{
        font-size: 1.5rem;
    }
    .inputbox input{
        width: 190px;
        padding: 12px 12px;
        font-size: .8rem;
    }
    .inputbox button{
        width: 90px;
        padding: 12px 12px;
        font-size: .8rem;
    }
    /* Join Done */

    /* Footer */
    footer{
    max-width: 570px;
    display: grid;
    margin: 0 auto;
    margin-left: 10px;
    }
    .footer-logo p{
        font-size: .9rem;
        margin: 20px 0;
    }
    .footer-menu{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 25px;
        margin-bottom: 30px;
    }
    .footer-social2{
        margin-bottom: 40px;
        gap: none;
    }
    /* Footer Done */
}

/* Mobile Responsive Complete */